---
---

@import 'main';

/* append your custom style below */
.header-with-logo {
    position: relative;
    z-index: 1;
  }
  
  .logo-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0));
  }